.card {
    min-height: 38.2rem;
    height: 100%;
    border: 1px solid darken($c-badge, 5%);
    background: $c-light;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    &__figure {
        position: relative;
        height: 19.2rem;
        text-align: center;
        background: $c-neutral;
    }
    &__img {
        width: auto;
        height: 100%;
    }
    &__caption {
        position: absolute;
        bottom: 0;
    }
    &__content {
        padding: 3rem;
    }
    &__title {
        text-transform: capitalize;
    }
    &__extra {
        margin-top: 1rem;
        padding-left: 1rem;
        border-left: 6px solid;
        color: $c-accent;
        &--ft {
            display: block;
        }
    }
}