.filter {
    height: 6rem;
    border: none;
    outline: none;
    font-size: 2rem;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    opacity: .9;
    &::placeholder {
        opacity: .5;
    }
}