.o- {
    &grid {
        padding: 3rem;
        display: grid;
        grid-gap: 3rem;
        justify-content: center;
        grid-template-columns: 1fr;
        @include breakpoints(sm) {
            grid-template-columns: repeat(2, minmax(32rem, 1fr));
        }
        @include breakpoints(md) {
            grid-template-columns: repeat(3, minmax(26rem, 32rem));
        }
        &--avoid-cols {
            @include breakpoints(sm) {
                grid-column: span 2;
            }
            @include breakpoints(md) {
                grid-column: span 3;
            }
        }
    }
}