/**
 * Brand colors
 */
$c-primary: #ffe500;
$c-secondary: #fb0024;

/**
 * Generic colors
 */
$c-light: #FFF;
$c-dark: #000;
$c-neutral: #dfdfdf;

/**
 * Text colors
 */
$c-heading: #0f0f0f;
$c-tag: #e1e0de;
$c-accent: #54250e;
$c-badge: #d1cdca;